.appointment form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.appointment form input,
textarea,
select {
  width: 40%;
  padding: 5px;
  color: blue;
  margin-bottom: 10px;
}
